<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.doubango.imsdroid"
      android:versionCode="356" android:versionName="1.2.356">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:persistent="true" android:name=".IMSDroid" android:debuggable="true">
        <activity android:name=".Main"
                  android:label="@string/app_name" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
			   <action android:name="android.intent.action.CALL" />
			   <category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.OPENABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="sip" android:mimeType="*/*" />
			</intent-filter>
        </activity>

		<activity android:name=".Screens.ScreenHome"></activity>
		<activity android:name=".Screens.ScreenAbout"></activity>
		<activity android:name=".Screens.ScreenNetwork"></activity>
		<activity android:name=".Screens.ScreenIdentity"></activity>
		<activity android:name=".Screens.ScreenGeneral"></activity>
		<activity android:name=".Screens.ScreenOptions"></activity>

<activity android:name=".Screens.ScreenOptionsContacts"></activity>
<activity android:name=".Screens.ScreenPresence"></activity>
<activity android:name=".Screens.ScreenMessaging"></activity>
<activity android:name=".Screens.ScreenQoS"></activity>
<activity android:name=".Screens.ScreenNatt"></activity>
<activity android:name=".Screens.ScreenSecurity"></activity>
<activity android:name=".Screens.ScreenContacts"></activity>
<activity android:name=".Screens.ScreenFileTransferQueue"></activity>
<activity android:name=".Screens.ScreenChatQueue"></activity>
<activity android:name=".Screens.ScreenHistory"></activity>
<activity android:name=".Screens.ScreenRegistrations"></activity>

<service android:name=".Services.Impl.ServiceManager"></service>
<activity android:name=".Screens.ScreenAuthorizations"></activity>
<activity android:name=".Screens.ScreenContactView"></activity>
<activity android:name=".Screens.ScreenDialer"></activity>
<activity android:name=".Screens.ScreenAV"></activity>

<activity android:name=".Screens.ScreenContactEdit"></activity>

<activity android:name=".Screens.ScreenCodecs"></activity>
<activity android:name=".Screens.ScreenSMSCompose"></activity>
<activity android:name=".Screens.ScreenSMSView"></activity>

<service android:name=".Services.Impl.ServiceManager" android:enabled="true">
	<intent-filter>
		<action android:name="org.doubango.imsdroid.Services.Impl.ServiceManager">
		</action>
	</intent-filter>
</service>
<receiver android:name=".Services.Impl.ServiceManagerReceiver" android:enabled="true">
<intent-filter>
	<action android:name="android.intent.action.BOOT_COMPLETED" />
	<action android:name="android.intent.action.NEW_OUTGOING_CALL" />
	<category android:name="android.intent.category.HOME" />
	</intent-filter>
</receiver>

<receiver android:name=".Services.Impl.ConnectionChangeReceiver" android:enabled="true">
<intent-filter>
	<action android:name="android.net.conn.CONNECTIVITY_CHANGE">
	</action>
	</intent-filter>
</receiver>


<activity android:name=".Screens.ScreenFileTransferView"></activity>
<activity android:name=".Screens.ScreenMsrpInc"></activity>

<!-- Sprint: HTC EVO 4G and Samsung Epic 4G-->
<!-- uses-library android:name="com.sprint.hardware.twinCamDevice" android:required="false"/> -->

<activity android:name=".Screens.ScreenAVQueue"></activity>
</application>

    <uses-sdk android:minSdkVersion="3" />

    

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE" ></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.WRITE_CONTACTS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	
	
	<uses-feature android:name="android.hardware.camera" />
	
	
</manifest> 